* {
    box-sizing: border-box;
}

form {
    display: flex;
    margin: 0 auto;
    
}
.container {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
}

.white-container {
    background-color:  rgb(224, 224, 224);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.white-container h1 {
    color: rgb(38, 84, 157);
}

.white-container input {
background-color: #fff;
height: 50px;
width: 200px;
text-align: center;
}

.white-container ::placeholder {
    color: rgb(128, 127, 131);
}

.blue-container {
   background-color: rgb(58, 58, 193);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   padding: 10px;
} 

.blue-container h1 {
    color: #fff;
}

.blue-container input {
    background-color: rgb(58, 58, 193);
}

.blue-container label {
    color: #fff;
}



.blue-container ::placeholder {
    color: #fff;
}


button { 
    display: flex;
    margin: 0 auto;
}
/* background-color:    - 
- */