.hover-me {
    text-align: center;
}

.container {
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 5px 10px 18px grey;
}

.normal {
    height: 150px;
    width: 150px;
    background-color: blue;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    z-index: 1;
}

.normal:hover {
    position: absolute;
    margin-top: 0;
    transition: width 3s;
}

.example1 {
    height: 150px;
    width: 150px;
    background-color: green;
    display: flex;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
    z-index: 2;
}

.example1:hover {
    background-color: green;
}

.example2 {
    height: 150px;
    width: 150px;
    background-color: red;
    display: flex;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 3;
    
}